.container {
  max-width: 1300px !important;
  margin: 0 auto;
  width: 100%;
}
h1 {
  font-size: 104px;
  font-weight: 700;
  line-height: 116px;
  color: #f8f8f8;
}
h2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  @media screen and (min-width: 495px) {
    font-size: 48px;
    line-height: 72px;

  }
}
h3 {
  font-size: 25px;
  color: #000;
  padding-bottom: 15px;

}

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  padding-right: 20px;
  @media screen and (min-width: 495px) {
    font-size: 24px;
    line-height: 40px;
  }

  &.small {
    text-align: left;
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
    line-height: 13px;
    @media screen and (min-width: 495px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
