* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  border: none;
}

.contact {
  text-align: center;
  margin: 0 auto;
  padding: 10% 0 5% 0;
  border-bottom: 1px solid #f8f8f8;
  p {
    padding-bottom: 20px;
  }
  .form-input {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    @media screen and (min-width: 767px) {
      width: 670px;
    }
    input {
      border: 1px solid #f8f8f8;
      padding: 20px 8px 20px 24px;
      color: #b2b2b2;
      outline: none;
      display: block;
      width: 100%;
      text-align: left;
      background-color: transparent;
    }
  }
}
