* {
  margin: 0;
  padding: 0;

  color: #ffffff;
  border: none;
}

.product {
  margin: 0 auto;

  img {
    width: 100%;
  }


  &-item {
    margin-top: 30px;
    padding: 10px;
    background-color: #F8F8F8;
    min-height: auto;
    @media screen and (min-width: 767px) {
      min-height: 655px;
    }

    img {
      border-radius: 8px;
    }


    &-txt {
      padding: 10px 16px 16px 16px;

      p {
        font-weight: 500;
        text-align: left;
        color: #000000;

        &.small {
          color: #000000;
        }
      }
    }
  }

  &-types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    @media screen and (min-width: 797px) {
      flex-wrap: nowrap;
      padding-top: 90px;
    }

    img {
      max-width: 120px;
    }

    p {
      text-align: center;
      margin: 0 auto;
      padding: 0;

    }
  }
}

