.header {
  position: fixed;
  background-color: #171c1f;
  top: 0;
  right: 20px;
  width: 100%;
  z-index: 10;

  .logo {
    cursor: pointer;
    text-decoration: none;
  }

  h4 {
    font-size: 20px;
    line-height: 50px;
    font-weight: 600;
    padding-left: 40px;
    color: #ffffff;
    margin-bottom: 0;
  }

  .custom-nav {
    position: absolute;
    top: 50px;
    background-color: #171c1f;
    padding-left: 50px;
  }

  @media (min-width: 992px) {
    &:after {
      content: '';
      display: block;
      background-color: #f8f8f8;
      width: 100%;
      height: 1px;
      margin-top: 10px;
      z-index: 10;
    }

    .custom-nav {
      right: 40px;
      left: auto;
      top: 45px;
      background: transparent;
    }
  }
}
