* {
  margin: 0;
  padding: 0;

  color: #ffffff;
  border: none;
}

.product {
  margin: 0 auto;

  img {
    width: 100%;
  }

  h2 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    @media screen and (min-width: 495px) {
      font-size: 48px;
      line-height: 72px;

    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    padding-right: 20px;
    @media screen and (min-width: 495px) {
      font-size: 24px;
      line-height: 40px;
    }

    &.small {
      text-align: left;
      font-size: 10px;
      font-weight: 400;
      color: #ffffff;
      line-height: 13px;
      @media screen and (min-width: 495px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &-item {
    margin-top: 30px;
    padding: 10px;
    background-color: #F8F8F8;
    min-height: auto;
    @media screen and (min-width: 767px) {
      min-height: 625px;
    }

    img {
      border-radius: 8px;
    }

    h3 {
      font-size: 25px;
      color: #000;
      padding-bottom: 15px;

    }

    &-txt {
      padding: 10px 16px 16px 16px;

      p {
        font-weight: 500;
        text-align: left;
        color: #000000;

        &.small {
          color: #000000;
        }
      }
    }
  }

  &-types {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    @media screen and (min-width: 797px) {
      flex-wrap: nowrap;
      padding-top: 90px;
    }

    img {
      max-width: 120px;
    }

    p {
      text-align: center;
      margin: 0 auto;
      padding: 0;

    }
  }
}

